@import "nav_bar.css";
@import "blog_theme.css";
@import "footer.css";

#site-container {
  display: grid;
  width: 99.5%;
  /* height: fit-content; */
  grid-template-columns: inherit;
  grid-template-rows: auto auto auto auto auto 200px;
  height: -webkit-fill-available;
  grid-gap: 5px;
  grid-template-areas:
  "nv"
  "hd"
  "auth"
  "blog"
  "sub"
  "ft";
}

#author-info {
  grid-area: auth;
  display: grid;
  background-color: beige;
  display: flex;
}

figure {
  display: contents;
}

header {
  grid-area: hd;
  background-color: palegoldenrod;
  display: flex;
  flex-flow: row wrap;
}

#blog-content {
  grid-area: blog;
  background-color: whitesmoke;
  padding: 50px;
}

#avatar {
  width: 15%;
}
