
 #blog-posts {
  text-align: center;
  background-color: #dedede;
  font-size: 14px;
  width: 500px;
  height: 450px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}

@media(max-width:1040px) {
  #blog-posts {
   text-align: center;
   font-size: 9px;
   background-color: #dedede;
   width: 400px;
   height: 300px;
   padding: 20px;
   justify-content: center;
   align-items: center;
 }
}

#author-div {
  font-size: 10px;
  display: inline-flex;
}

#avatar {
  height: 8%;
  width: 8%;
}

#blog-info {
  margin-left: 20px;
}


#card-image {
  width: 40%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
