 #blog-posts {
  text-align: center;
  background-color: #dedede;
  width: 500px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}

@media(max-width:1040px) {
  #blog-posts {
   text-align: center;
   font-size: 10px;
   background-color: #dedede;
   width: 400px;
   height: 300px;
   padding: 20px;
   justify-content: center;
   align-items: center;
 }
}


#card-image {
  width: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
