
#subscribe {
  display: flex;
  justify-content: center;
  grid-area: sub;
}

#footer {
  grid-area: ft;
}

#subscribe-btn {
    color: #fff;
    background-color: #008CBA;
    text-align: center;
    border: none;
}

#footer {
  grid-area: ft;
  align-items: center;
  text-align: center;
}
