@import "nav_bar.css";
@import "blog_theme.css";
@import "footer.css";


#site-container {
  display: grid;
  width: 99.5%;
  height: 100%;
  grid-template-columns: inherit;
  grid-template-rows: auto auto auto auto auto auto;
  height: -webkit-fill-available;
  grid-gap: 5px;
  grid-template-areas:
  "nv"
  "mr"
  "blog-2"
  "blog-3"
  "sub"
  "ft";
}


@media(min-width: 1000px) {
  #site-container {
    display: grid;
    width: 100%;
    grid-template-columns: inherit inherit inherit inherit;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    "nv nv nv nv"
    "mr mr mr mr"
    "blog-2 blog-2 blog-3 blog-3"
    "sub sub sub sub"
    "ft ft ft ft";
  }
}

#most-recent-blog {
  grid-area: mr;
  background-image: url("../images/treadmill.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#blog-2 {
  grid-area: blog-2;
  background-image: url("../images/log.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#blog-3 {
  grid-area: blog-3;
  background-image: url("../images/fitbit.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blog-post {
  background-color: #fff;
  display: flex;
}

.blog-post h3 {
  color: orange;
  background-color: black;
}

.blog-post {
  text-align: center;
  background-color: #fff9e6;
  color: white;
  opacity: 0.6;
  width: auto;
  height: 300px;
  padding: 20px;
  margin-top: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
