html * {
  /* background-color: #F5F5F5; */
  /* background-color: #F8F8FF; */
  font-family: 'Open Sans', sans-serif;
}

.flex-grid {
  display: flex;
}

#running-icon-span {
  font-size: 35px;
  color: Dodgerblue;
}

#blog-header {
  margin-top: 25px;
  margin-left: 60px;
  margin-bottom: 40px;
}

#blog-name {
  letter-spacing: 1px;
  font-size: 30px;
  display: inline;
}

#sidebar-menu > a {
  margin: 10px 25px;
  display: flex;
}

#blog-post-container {
  display: flex;
  margin-left: 125px;
  margin-top: 25px;
}

#blog-posts {
  background-color: #F5DEB3;
  width: 200px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  margin-right: 25px;
}
