html * {
  font-family: 'Open Sans', sans-serif;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

@media(min-width:900px) {
  #container {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns : 150px 350px 500px;
    grid-template-rows: 60px 450px;
    grid-row-gap: 20px;
    grid-template-areas:
    "hd hd hd hd hd"
    "sd bp bp bp bp"
    "ft ft ft ft ft";
  }
}
@media(max-width:899px) {
  #blog-post-container {
    display: block;
  }
}



#github {
  color: grey;
  font-size: 12px;
}
@media(min-width:900px) {
  #blog-post-container {
    margin-left: 70px;
    grid-area: bp;
    display: flex;
    flex-wrap: wrap;
  }
}

/* a {
  text-decoration: none;
} */

#running-icon-span {
  font-size: 35px;
  color: orange;
}

#blog-name {
  letter-spacing: 1px;
  display: inline;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

#divider {
  margin-right: 60px;
}
