html * {
  font-family: 'Open Sans', sans-serif;
}

@media(min-width:900px) {
  #container {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns : 150px 350px 500px;
    grid-template-rows: 60px 450px;
    grid-row-gap: 20px;
    grid-template-areas:
    "hd hd hd hd hd"
    "sd bp bp bp bp"
    "ft ft ft ft ft";
  }
}
@media(max-width:899px) {
  #blog-post-container {
    display: block;
  }
}

#header {
  margin-left: 60px;
  grid-area: hd;
}

#footer {
  grid-area: ft;
  align-items: center;
  text-align: center;
}

#github {
  color: grey;
  font-size: 12px;
}
@media(min-width:900px) {
  #blog-post-container {
    grid-area: bp;
    display: flex;
    flex-wrap: wrap;
  }
}

#sidebar-menu {
  grid-area: sd;
}

#sidebar-menu > a {
  display: flex;
  margin: 5px 0px;
  color: orange;
}


a {
  text-decoration: none;
}

#running-icon-span {
  font-size: 35px;
  color: orange;
}

#blog-name {
  letter-spacing: 1px;
  display: inline;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

#divider {
  margin-right: 60px;
}
